@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    max-width: 720px;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -70%);
    border-radius: 12px;
}

.show-popup .form-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}

.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

.form-popup .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #878484;
    cursor: pointer;
}

.form-popup .form-box {
    display: flex;
    text-align: center;
    border-radius: 12px;
}

.form-box .form-details {
    width: 100%;
    color: #fff;
    max-width: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .form-details {
    padding: 0 40px;
    background: url("/assets/img/user-login/login-img.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}

.signup .form-details {
    padding: 0 20px;
    background: url("/assets/img/user-login/signup-img.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

.form-box h2 {
    background: linear-gradient(135deg, #103524, #2d87e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    text-align: center;
    margin-bottom: 29px;
    display: inline-block;
    position: relative;
}

.form-box h2::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 3px;
    background: linear-gradient(135deg, #103524, #2d87e8);
    border-radius: 2px;
}

form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.input-field input {
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    font-size: 0.95rem;
    padding: 0 15px;
    border: 1px solid #717171;
    border-radius: 3px;
}

.input-field input:focus {
    border: 1px solid #2d87e8;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #4a4646;
    pointer-events: none;
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}

.input-field input:is(:focus, :valid)~label {
    transform: translateY(-120%);
    color: #2d87e8;
    font-size: 0.75rem;
}

.form-box a {
    color: #2d87e8;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

form :where(.forgot-pass-link, .policy-text) {
    display: inline-flex;
    margin-top: 13px;
    font-size: 0.95rem;
}

form button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    margin: 25px 0;
    background: #2d87e8;
    border-radius: 12px;
    transition: 0.2s ease;
}

form button:hover {
    background: #1162ba;
}

.form-content .bottom-link {
    text-align: center;
}

.form-popup .signup,
.form-popup.show-signup .login {
    display: none;
}

.form-popup.show-signup .signup {
    display: flex;
}

.signup .policy-text {
    color: #605757;
    display: flex;
    margin-top: 14px;
    align-items: center;
}

.signup .policy-text input {
    width: 14px;
    height: 14px;
    margin-right: 7px;
}

@media (max-width: 760px) {
    .form-popup {
        width: 95%;
    }

    .form-box .form-details {
        display: none;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }
}

.input-group-text.toggle-password {
    background: transparent !important;
    border: none !important;

    padding: 0 !important;
    margin: 0 !important;
    width: auto !important;
    min-width: auto !important;

    display: flex;
    align-items: center;
    cursor: pointer;
}

.input-group-text.toggle-password i {
    color: #a1abb4;   /* sama seperti admin */
    font-size: 16px;
    padding-right: 12px;
}

.input-group-text.toggle-password i:hover {
    color: #0d6efd;
}

.input-group .form-control {
    border-right: 1px solid #ced4da;
}

.input-group > :not(:first-child) {
    margin-left: 0;
}

.toggle-password {
    position: relative;
    float: right;
    margin-top: -38px;   /* naik ke dalam field */
    margin-right: 12px;
    cursor: pointer;
    color: #a1abb4;
    font-size: 16px;
    z-index: 2;
}

.toggle-password:hover {
    color: #6c757d;
}








